{{ $lora:=.lora}}
{{ if $lora.HasProfile }}
{{ $user:= $lora.Account }}
<div class="profile">
    <div class="container">
        <div class="row">
            <div class="three columns">
                <div class="profile-image">
                    <img src="{{ .profile.Photo }}">
                </div>
                <h5>{{ $user.UserName }}</h5>
            </div>
            <div class="four columns">
                <div class="profile-details">
                    <ul>
                        <li>
                            <span>email</span> <a href="#">{{ .user.Email }}</a>
                        </li>
                        <li>
                            <span>company</span> {{ $user.Company }}
                        </li>
                        <li>
                            <span>Phone</span> {{ .profile.Phone }}
                        </li>
                    </ul>
                    <a href="/profile/{{ .profile.Id }}/edit" class="update-profile">Update Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}