<div class="profile">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <form enctype="multipart/form-data" method="post">
                    <legend>
                        Account Details
                    </legend>
                    <fieldset>
                        <div class="">
                            <label for="company">Company Name:</label>
                            <input type="text" name="company" value="{{ .user.Company }}">
                            {{ if .Errors.Company}}
                            <aside class="form-message">{{ .Errors.Company}}</aside>
                            {{ end }}
                        </div>
                        <div class="">
                            <label for="phone">Phone number:</label>
                            <input type="text" name="phone" value="{{ .profile.Phone }}">
                            {{ if .Errors.Company}}
                            <aside class="form-message">{{ .Errors.Company}}</aside>
                            {{ end }}
                        </div>

                        <div class="">
                            <label for="pic">Change Profile Picture:</label>
                            <input type="file" name="profilePicture">
                            {{ if .Errors.Company}}
                            <aside class="form-message">{{ .Errors.Company}}</aside>
                            {{ end }}
                        </div>
                        <div class="">
                            <button type="submit" class="button button-flat button-primary button-large">Update</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>