@import "../../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass";
@import "partials/variables";
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background: #000000;
  color: #fff;
  padding-bottom: 5rem;
}

.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.value-heading {
  margin-bottom: .3rem;
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}

.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .hero {
    padding: 12rem 0;
    text-align: left;
    height: 165px;
  }

  .section {
    padding: 12rem 0 11rem;
  }

  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }

  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }

  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .section {
    padding: 14rem 0 15rem;
  }

  .hero {
    padding: 16rem 0 14rem;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }

  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }

  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }

  .hero {
    padding: 22rem 0;
  }

  .hero-heading {
    font-size: 3.0rem;
  }

  .phone {
    top: -16rem;
    max-height: 615px;
  }

  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* Navigation */
.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}


.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.3rem;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}
/* Larger than phone */
@media (max-width: 550px) {
  .navbar-link{
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 479px) {
  .navbar-link {
    margin: 0;
    padding: 2px;
    font-size: 10px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */

}
.footer {
  .powered-by {
    display: block;
    width: 100%;
    text-align: center;
    color: #000000;
    padding: 2px 10px;
    font-size: $medium-font-size;
  }
}