<!--footer-->
<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="footer-links">
                    <ul>
                        <li>
                            <a href="/help">help</a>
                        </li>
                        <li>
                            <a href="/terms">terms</a>
                        </li>
                        <li>
                            <a href="/contacts">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy;<span>2015</span>geofrey ernest
        </div>
    </div>
</div>
<script src="/static/js/footer.js"></script>
<script src="/static/js/install.js"></script>
</body>
</html>