<div class="container-fluid">
    <div class="row" id="footer">
        <div class="col-md-12">
            <div class="footer">
                <div class="container">
                    <div class="clearfix">
                        <div class="footer-logo">
                            <a href="#">lora Platform</a>
                        </div>
                        <div class="footer-copyright text-center">
                            Copyright &copy; 2015 lora Platform All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>