
<script src="/static/css/bootstrap/bootstrap.min.js"></script>
<script src="/static/editor/summernote.min.js"></script>
<script src="/static/js/md.min.js"></script>
<script src="/static/js/geopattern.min.js"></script>

<!--Light wave-->
<script src="/static/js/lightwave/vegas/jquery.vegas.min.js"></script>
<script src="/static/js/lightwave/jquery.easing.min.js"></script>
<script src="/static/js/lightwave/source/jquery.fancybox.js"></script>
<script src="/static/js/lightwave/jquery.isotope.js"></script>
<script src="/static/js/lightwave/appear.min.js"></script>
<script src="/static/js/lightwave/animations.min.js"></script>
<script src="/static/js/lightwave/custom.js"></script>

<script src="/static/js/lora.min.js"></script>
</body>
</html>