<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="A Simple Business Friendly, cloud based Website Solution">
    {{ if .Title }}
    <title>{{ .Title }}</title>
    {{ end }}
    <title> Lora: Oh, the sweet like website solution </title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/hover-min.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/trumbowyg.min.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
</head>

<body>
<!--Navigation-->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="navbar">
                    <a href="/" class="title">
                        <span>l</span><span>o</span><span>r</span><span>a</span>
                    </a>
                <ul class="nav">
                    <li>
                        <a href="/"><i class="fa fa-home"></i> home</a>
                    </li>

                    {{ if .InSession }}
                    <li>
                        <a href="/site/pages/services">explore</a>
                    </li>
                    <li>
                        <a href="/site/pages/help" class="nav-link-primary"><i class="fa fa-support"></i> help</a>
                    </li>
                    <li>
                        <a href="/site/pages/terms">terms</a>
                    </li>
                        <li>
                    <a href="/web/accounts" class="thumbnail">
                        <img src="{{.avatar.Thumbnail}}">
                        <span>{{ .acc.UserName }}</span>
                    </a>
                        </li>

                    <li>
                           <a href="/web/accounts/logout" ><i class="fa fa-sign-out"></i> logout</a>
                       </li>
                    {{ else }}
                    <li>
                        <a href="/site/pages/services">services</a>
                    </li>
                    <li>
                        <a href="/site/pages/pricing" class="nav-link-primary"><i class="fa fa-dollar"></i> pricing</a>
                    </li>
                    <li>
                        <a href="/site/pages/contacts"><i class="fa fa-phone"></i> contacts</a>
                    </li>
                    <li>
                        <a href="/web/accounts/register"><i class="fa fa-sign"></i> SIGN UP</a>
                    </li>
                    <li>
                        <a href="/web/accounts/login"><i class="fa fa-sign-in"></i> LOGIN</a>
                    </li>
                        {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end of navigation-->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            {{ if .notice }}
            <div class="flash">
                <p class="notice">
                    {{ .notice }}
                </p>
            </div>
            {{ end }}
            {{ if .flash.error }}
            <div class="flash">
                <p class="error">
                    {{ .flash.error }}
                </p>
            </div>
            {{ end }}

            {{ if .flash.warning }}
            <div class="flash">
                <p class="error">
                    {{ .flash.warning }}
                </p>
            </div>
            {{ end }}

        </div>
    </div>
</div>