
<!--Lead section-->
<div class="lead-section">
    <div class="container">
        <div class="row">
            <div class="four columns sand-box">
                <div class="title">
                    <h5>A Website as a service for small and medium business</h5>
                </div>
                <p>
                    Built for your business in mind
                </p>
            </div>
        </div>
        <div class="row">
            <div class="four columns empty-box">
            </div>
            <div class="four columns sand-box">
                <div class="title">
                    <h5>Beatiful and professional websites at the click of a button</h5>
                </div>
                <p>
                    We have a rich option of templates
                </p>
            </div>
        </div>
        <div class="row">
            <div class="four columns empty-box">
            </div>
            <div class="four columns empty-box">
            </div>
            <div class="four columns sand-box">
                <div class="title">
                    <h5>Cheap, Elegant, And Convenint to your business</h5>
                </div>
                <p>
                    We are the best on our field.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Promo section-->
<div class="promo-section">
    <div class="container">
        <div class="row">
            <div class="three columns empty-box"></div>
            <div class="three columns empty-box"></div>
            <div class="three columns empty-box"></div>
            <div class="three columns fact-box">
                <p>
                    Free subdomain
                </p>
            </div>
        </div>
        <div class="row">
            <div class="three columns empty-box"></div>
            <div class="three columns empty-box"></div>
            <div class="three columns fact-box">
                <p>
                    Support Custom domains
                </p>
            </div>
            <div class="three columns"></div>
        </div>
        <div class="row">
            <div class="three columns empty-box"></div>
            <div class="three columns fact-box">
                <p>
                    Free templates & Themes
                </p>
            </div>
            <div class="three columns empty-box"></div>
            <div class="three columns empty-box"></div>
        </div>
        <div class="row">
            <div class="three columns fact-box">
                <p>
                    Zero Configuration
                </p>
            </div>
            <div class="three columns fact-box">
                <p>
                    Pay in Cash
                </p>
            </div>
            <div class="three columns fact-box">
                <p>
                    M-PESA Integration
                </p>
            </div>
            <div class="three columns fact-box">
                <p>
                    TIGO Pesa INtegration
                </p>
            </div>
        </div>
    </div>
</div>

<!--Invitation Section-->
<div class="invitation-section">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="shout-out">
                    <a href="/accounts/register">Register Now</a>
                </div>
            </div>
            <div class="six columns">
                <div class="shout-out">
                    <a href="/companies">Companies</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="shout-out">
                    <a href="/pricing">Pricing</a>
                </div>
            </div>
            <div class="six columns">
                <div class="shout-out">
                    <a href="/contacts">Contacts</a>
                </div>
            </div>
        </div>
    </div>
</div>