<h1 class="lead-header">Bringing Your Business Online</h1>
<!--Lead section-->
<div class="lead-section">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
            </div>
        </div>
        <div class="row">
            <div class="four columns sand-box">
                <div class="title">
                    <h5>We offer a user friendly webhosting service for business </h5>
                </div>
                <p>
                    Built for your business in mind
                </p>
            </div>
            <div class="four columns sand-box">
                <div class="title">
                    <h5>Cheap, Elegant, And Convenint to your business</h5>
                </div>
                <p>
                    We make sure, we meet your business needs.
                </p>
            </div>
            <div class="four columns sand-box">
                <div class="title">
                    <h5>Beatiful and professional websites at the click of a button</h5>
                </div>
                <p>
                    Get a website that will be worthy visiting
                </p>
            </div>
        </div>
        <div class="row">
            <div class="four columns sand-box">
            </div>
            <div class="four columns empty-box">
            </div>
            <div class="four columns sand-box">

            </div>
        </div>
    </div>
</div>

<!--Invitation Section-->
<div class="invitation-section">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="shout-out">
                    <a href="/accounts/register">Register Now</a>
                </div>
            </div>
            <div class="six columns">
                <div class="shout-out">
                    <a href="/companies">Companies</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="shout-out">
                    <a href="/pricing">Pricing</a>
                </div>
            </div>
            <div class="six columns">
                <div class="shout-out">
                    <a href="/contacts">Contacts</a>
                </div>
            </div>
        </div>
    </div>
</div>
 <script src="/static/css/vendors/snabbt.min.js"></script>
<script src="/static/js/animate.js"></script>
