.login-spacer{
  display: block;
  content: "";
  margin: 8rem 0.8rem;
  height: 5px;
  width: 100%;
}

.title {
  display: inline-block;
  text-align: none;
  padding: 10px;
  margin-top: 5px;
  font-size: $large-font-size;
  span{
    padding: 5px;
    display: inline-block;
  }
}