{{ $lora:=.lora}}
<div class="account">
    <div class="container">
        <div class="row">
            {{ if $lora.HasAccount }}
            {{$user:=$lora.Account}}
            <!--Controls part-->
            <div class="four columns">
                <div class="settings">
                    <h3>Tasks</h3>
                    <a href="/project/new" class="button button-setting"><i class="fa fa-link"></i> create website</a>
                    <a href="/projects/list" id="proj-list" class="button button-setting"><i class="fa fa-link"></i> manage websites</a>
                </div>
            </div>
            <div class="four columns">
                <div class="settings">
                    <h3> Settings</h3>
                </div>
            </div>
            <div class="four columns">
                <div class="settings">
                    <h3>Profile</h3>
                    <a href="/profile/{{ $user.ProfileId }}/view" class="button button-setting"><i class="fa fa-link"></i> View</a>
                    <a href="/profile/{{ $user.ProfileId }}/edit" class="button button-setting"><i class="fa fa-link"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
