<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Tasks</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/web/project/new"> create website</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/web/project/list"> manage websites</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/web/accounts/files/upload">upload files</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Settings</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">Profile</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/web/accounts/profile/{{ .user.ProfileId }}/view">View</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/web/accounts/profile/{{ .user.ProfileId }}/edit">Edit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
