<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="six columns">
                <div class="delete-section">
                    <form method="post" action="/web/project/{{ .projectId }}/delete" class="form-horizontalm">
                        <p>
                            Type the name of your website in the box and click delete
                        </p>
                        <input type="text" name="projectName" placeholder="website name">
                        <button type="submit" class="btn btn-primary">
                            delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
