{{ $lora:=.lora}}
{{ if $lora.HasProjects }}
<div class="account">
    <div class="container">
        <div class="row">
            {{ range $lora.Projects }}
            <div class="four columns">
                <div class="settings">
                    <h3>{{ .Name }}</h3>
                    <a href="/web/project/{{ .Id }}/delete" class="button button-setting"><i class="fa fa-trash"></i> delete</a>
                    <a href="/web/project/{{ .Id }}/update" class="button button-setting"><i class="fa fa-edit"></i> update</a>
                    <a href="/web/project/{{ .Id }}/deploy" class="button button-setting"><i class="fa fa-cloud-upload"></i> deploy</a>
                    <a href="/web/project/{{ .Id }}/preview" class="button button-setting"><i class="fa fa-folder-open"></i> preview</a>
                    <!--<a href="/project/{{ .Id }}/download" class="button button-setting">download</a>-->
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}