<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2">website name</label>
                    <div class="col-sm-6">
                        <input name="projectName" placeholder="website name" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <select name="themeName" class="theme form-control">
                            {{ range .themeList }}
                            <option value="{{ .Name }}">{{ .Name }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <select name="templateName" class="template form-control">
                            {{ range .templateList }}
                            <option value="{{ .Name }}">{{ .Name }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary    ``1">Create</button>
            </form>

        </div>
        <div class="col-md-4">
            <div class="theme-select">
                <button class="theme-select-btn">Select theme </button>
                {{ range .themeList }}
                <div class="theme-box" t-id="{{ .Name }}">
                    <h5>{{ .Name }}</h5>
                    <img src="{{ .Image }}">

                    <div class="theme-controls">
                        <button class="pick-theme">select</button>
                        <button class="theme-demo">demo</button>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="template-select">
                <button class="template-select-btn">Select Template <i class="fa fa-chevron-down"></i></button>
                {{ range .templateList }}
                <div class="template-box" t-id="{{ .Name }}">
                    <h5>{{ .Name }}</h5>
                    <img src="{{ .Image }}">

                    <div class="template-controls">
                        <button class="pick-template">select</button>
                        <button class="template-demo">demo</button>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
