<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-6">
                            <input name="projectName" placeholder="website name" class="form-control" type="text">
                            <button type="submit" class="btn btn-primary    ``1">Create</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <select name="themeName" class="theme form-control">
                                {{ range .themeList }}
                                <option value="{{ .Name }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <select name="templateName" class="template form-control">
                                {{ range .templateList }}
                                <option value="{{ .Name }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-4">
                <div class="theme-select">
                    <div class="well text-info"> Select Theme</div>
                    {{ range .themeList }}
                    <div class="theme-box thumbnail" t-id="{{ .Name }}">
                        <img class="img-rounded" src="{{ .Image }}">
                        <div class="caption text-center">
                            <h5>{{ .Name }}</h5>
                            <p>
                                <button class="pick-theme btn btn-primary">select</button>
                                <button class="theme-demo btn btn-default">demo</button>
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="template-select">
                    <div class="well text-info">Select Template</div>
                    {{ range .templateList }}
                    <div class="template-box thumbnail" t-id="{{ .Name }}">
                        <img class="img-rounded" src="{{ .Image }}">
                        <div class="caption text-center">
                            <h5>{{ .Name }}</h5>
                            <p>
                                <button class="pick-template btn btn-primary">select</button>
                                <button class="template-demo btn btn-default">demo</button>
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

</div>
