{{ $lora:= .lora}}
{{if $lora.HasPage }}
{{ $page:=$lora.Page }}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="edit">
                <div class="edit-title">
                    <span>{{ $page.Title }} Page</span>
                </div>
		    <form method="post" id="pageForm">
                <textarea name="content" class="content">
                    {{ $page.ContentHtml }}
                </textarea>
                <button type="submit" name="SaveAndEdit"> Update</button>
                <button name="saveAndPreview" value="1" type="submit">save and preview</button>
            </form>
            </div>
            <div>
			{{ if $lora.HasSections }}
			{{ $sections:=$lora.Sections }}
             <button class="edit-section-btn">sections <i class="fa fa-chevron-down"></i></button>
                <div class="edit-section">
                    {{ range $sections }}
                    <div>
                        <h4>{{ .Name }}</h4>
                        <div class="page-control">
                            <ul>
                                <li>
                                    {{ .LastUpdate }}
                                </li>
                                <li>
                                    <a href="/web/section/{{ .PageId }}/{{ .Id }}/update">edit</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
			{{ end }}
        </div>
    </div>
</div>
{{ end }}
