<div class="container">
    <div class="row">
        <div class="twelve columns">
            <form method="post" id="pageForm">
                <legend>{{ .page.Title }}</legend>
                <textarea name="content" class="content">
                    {{ .page.ContentHtml }}
                </textarea>
                <button type="submit" name="SaveAndEdit"> Update</button>
                <button name="saveAndPreview" value="1" type="submit">save and preview</button>
            </form>
            <div>
                {{ range .sections }}
                <div>
                    <h4>{{ .Name }}</h4>
                    <div class="page-control">
                        <ul>
                            <li>
                                {{ .LastUpdate }}
                            </li>
                            <li>
                                <a href="/section/{{ .PageId }}/{{ .Id }}/update">edit</a>

                            </li>
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>