<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-large">
                <h4>{{ .page.Title }}</h4>
            </div>
            <form method="post" class="editor-form form-horizontal">
                <div class="form-group">
                    <div>
                        <textarea name="content" class="content">
                            {{ .page.ContentHtml }}
                        </textarea>
                    </div>
                </div>
                <button type="submit" name="SaveAndEdit" class="btn btn-primary"> Update</button>
                <button name="saveAndPreview" value="1" type="submit" class="btn btn-primary">save and preview</button>
            </form>
        </div>
        <div class="col-md-4">
                {{ range .sections }}
                <div class="panel panel-default">
                    <h4 class="panel-heading">{{ .Name }}</h4>

                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ .LastUpdate }}
                        </li>
                        <li class="list-group-item">
                            <a href="/web/section/{{ .PageId }}/{{ .Id }}/update"
                               class="btn btn-primary btn-large">Update</a>
                        </li>
                    </ul>
                </div>
                {{ end }}
        </div>
    </div>
</div>
